table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

td {
    width: 50%;
    text-align: center;
    font-size: 30px;
    color: white;
}

.box1 {
    background-color: rgb(180, 70, 123);
}

.box2 {
    background-color: rgb(195, 179, 87);
}
       